In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [79]:
train = pd.read_csv('Insurance Fraud - TRAIN-3000(1).csv')
train.head()

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,over_65,No,No,External,none,no_change,1-vehicle,1994,All_Perils,Yes
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,41_to_50,No,No,External,none,under_6_months,1-vehicle,1994,All_Perils,Yes
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,36_to_40,No,No,External,more_than_5,under_6_months,2-vehicles,1994,All_Perils,Yes
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,36_to_40,No,No,External,more_than_5,no_change,1-vehicle,1994,Collision,Yes

In [3]:
train.info()                # No NUll Values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MONTH                 2999 non-null   object
 1   WEEKOFMONTH           2999 non-null   int64
 2   DAYOFWEEK             2999 non-null   object
 3   MAKE                  2999 non-null   object
 4   ACCIDENTAREA          2999 non-null   object
 5   DAYOFWEEKCLAIMED      2999 non-null   object
 6   MONTHCLAIMED          2999 non-null   object
 7   WEEKOFMONTHCLAIMED    2999 non-null   int64
 8   SEX                   2999 non-null   object
 9   MARITALSTATUS         2999 non-null   object
 10  AGE                   2999 non-null   int64
 11  FAULT                 2999 non-null   object
 12  POLICYTYPE            2999 non-null   object
 13  VEHICLECATEGORY       2999 non-null   object
 14  VEHICLEPRICE          2999 non-null   object
 15  REPNUMBER             2999 non-null   int64
 16  DEDUCTIBLE            2999 non-null   int64
 17  DRIVERRATING          2999 non-null   int64
 18  DAYS_POLICY_ACCIDENT  2999 non-null   object
 19  DAYS_POLICY_CLAIM     2999 non-null   object
 20  PASTNUMBEROFCLAIMS    2999 non-null   object
 21  AGEOFVEHICLE          2999 non-null   object
 22  AGEOFPOLICYHOLDER     2999 non-null   object
 23  POLICEREPORTFILED     2999 non-null   object
 24  WITNESSPRESENT        2999 non-null   object
 25  AGENTTYPE             2999 non-null   object
 26  NUMBEROFSUPPLIMENTS   2999 non-null   object
 27  ADDRESSCHANGE_CLAIM   2999 non-null   object
 28  NUMBEROFCARS          2999 non-null   object
 29  YEAR                  2999 non-null   int64
 30  BASEPOLICY            2999 non-null   object
 31  FRAUDFOUND            2999 non-null   object
dtypes: int64(7), object(25)
memory usage: 749.9+ KB

In [33]:
train['FRAUDFOUND'].value_counts()

No     2600
Yes     399
Name: FRAUDFOUND, dtype: int64

In [34]:
## read test dataset
test = pd.read_csv('Insurance Fraud -TEST-12900(1).csv')
test.head()

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,over_65,No,No,External,none,no_change,1-vehicle,1994,All_Perils,Yes
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,41_to_50,No,No,External,none,under_6_months,1-vehicle,1994,All_Perils,Yes
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,36_to_40,No,No,External,more_than_5,under_6_months,2-vehicles,1994,All_Perils,Yes
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,36_to_40,No,No,External,more_than_5,no_change,1-vehicle,1994,Collision,Yes

In [35]:
## combine test and train
combined_df = pd.concat([train,test], keys=[0,1])
combined_df.head()

    MONTH  WEEKOFMONTH  DAYOFWEEK     MAKE ACCIDENTAREA DAYOFWEEKCLAIMED  \
0 0   Jul            3     Sunday    Honda        Rural        Wednesday
  1   Nov            5     Monday    Mazda        Urban        Wednesday
  2   Jan            1     Monday  Pontiac        Urban        Wednesday
  3   Dec            1     Monday   Toyota        Rural          Tuesday
  4   Dec            5  Wednesday  Pontiac        Urban        Wednesday

    MONTHCLAIMED  WEEKOFMONTHCLAIMED   SEX MARITALSTATUS  ...  \
0 0          Jan                   4  Male       Married  ...
  1          Dec                   1  Male        Single  ...
  2          Jan                   1  Male       Married  ...
  3          May                   3  Male       Married  ...
  4          Jan                   1  Male        Single  ...

     AGEOFPOLICYHOLDER POLICEREPORTFILED WITNESSPRESENT AGENTTYPE  \
0 0           26_to_30                No             No  External
  1            over_65                No             No  External
  2           41_to_50                No             No  External
  3           36_to_40                No             No  External
  4           36_to_40                No             No  External

    NUMBEROFSUPPLIMENTS  ADDRESSCHANGE_CLAIM  NUMBEROFCARS  YEAR  BASEPOLICY  \
0 0              3_to_5            no_change     1-vehicle  1994   Collision
  1                none            no_change     1-vehicle  1994  All_Perils
  2                none       under_6_months     1-vehicle  1994  All_Perils
  3         more_than_5       under_6_months    2-vehicles  1994  All_Perils
  4         more_than_5            no_change     1-vehicle  1994   Collision

    FRAUDFOUND
0 0        Yes
  1        Yes
  2        Yes
  3        Yes
  4        Yes

[5 rows x 32 columns]

In [39]:
# change target column values: Yes-1 and No-0
combined_df['FRAUDFOUND'] = combined_df['FRAUDFOUND'].apply(lambda x: 1 if x=='Yes' else 0)

In [42]:
## one-hot encoding
combined_df = pd.get_dummies(combined_df, drop_first=True)

In [43]:
## separate test and train
train = combined_df.xs(0)
test = combined_df.xs(1)

In [47]:
## separate X features from y target

X_train = train.drop('FRAUDFOUND',axis=1)
y_train = train['FRAUDFOUND']
X_test = test.drop('FRAUDFOUND',axis=1)
y_test = test['FRAUDFOUND']

In [49]:
## class imbalance --  smote oversampling for train data only
from imblearn.over_sampling import SMOTE

oversample = SMOTE(random_state=10)
X_train, y_train = oversample.fit_resample(X_train, y_train)

## DECISION TREE with Random Search

In [54]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
params = {"max_depth": [3,5,10,15,20,25], 'max_leaf_nodes': [2,3,4,5,6,7,8], 'min_samples_split': [2, 3, 4,5,6,7,8,9],
              "criterion": ["gini", "entropy"]}
randomized_search_cv = RandomizedSearchCV(DecisionTreeClassifier(random_state=42), params, cv=5)
randomized_search_cv.fit(X_train, y_train)
randomized_search_cv.best_estimator_

DecisionTreeClassifier(max_depth=20, max_leaf_nodes=7, min_samples_split=5,
                       random_state=42)

## DECISION TREE with Grid Search

In [55]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
params = {'max_leaf_nodes': [2,3,4,5,6,7,8], 'min_samples_split': [2, 3, 4,5,6,7,8,9],'criterion':['gini','entropy'],
          'max_depth':[10,20,30,40,50]}
grid_search_cv = GridSearchCV(DecisionTreeClassifier(random_state=42), params, verbose=1, cv=3)
grid_search_cv.fit(X_train, y_train)
grid_search_cv.best_estimator_

Fitting 3 folds for each of 560 candidates, totalling 1680 fits

DecisionTreeClassifier(criterion='entropy', max_depth=10, max_leaf_nodes=7,
                       random_state=42)

In [56]:
## model1 = Decision Tree with hyperparameters tuned by Random Search
model1 = DecisionTreeClassifier(max_depth=20, max_leaf_nodes=7, min_samples_split=5, random_state=42)
model1.fit(X_train,y_train)
y_pred_1 = model1.predict(X_test) # prediction based on model1

## model2 = Decision Tree with hyperparameters tuned by Grid Search
model2 = DecisionTreeClassifier(criterion='entropy', max_depth=10, max_leaf_nodes=7, random_state=42)
model2.fit(X_train,y_train)
y_pred_2 = model2.predict(X_test) # prediction based on model2

## RANDOM FOREST with Random Search

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
params = {  'n_estimators': [200, 500],
                'max_features': ['auto', 'sqrt', 'log2'],
                'max_depth' : [4,5,6,7,8],
                'criterion' :['gini', 'entropy'] }
randomized_search_rf = RandomizedSearchCV(RandomForestClassifier(random_state=42), params, cv=5)
randomized_search_rf.fit(X_train, y_train)
randomized_search_rf.best_estimator_

RandomForestClassifier(max_depth=8, n_estimators=200, random_state=42)

## RANDOM FOREST with Grid Search

In [59]:
from sklearn.ensemble import RandomForestClassifier
params = {  'n_estimators': [200, 500],
                'max_features': ['auto', 'sqrt', 'log2'],
                'max_depth' : [4,5,6,7,8],
                'criterion' :['gini', 'entropy'] }

grid_search_rf = GridSearchCV(estimator=RandomForestClassifier(random_state=42), param_grid=params, cv= 5)
grid_search_rf.fit(X_train, y_train)
grid_search_rf.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'auto',
 'n_estimators': 200}

In [62]:
## model3 = Random Forest with hyperparameters tuned by Random Search
model3 = RandomForestClassifier(max_depth=8, n_estimators=200, random_state=42)
model3.fit(X_train,y_train)
y_pred_3 = model3.predict(X_test) # prediction based on model3

## model4 = Random Forest with hyperparameters tuned by Grid Search
model4 = RandomForestClassifier(criterion='entropy', max_depth=8, max_features='auto', n_estimators=200)
model4.fit(X_train,y_train)
y_pred_4 = model4.predict(X_test) # prediction based on model4

## Model Evaluations

In [69]:
from sklearn import metrics

In [71]:
print(metrics.classification_report(y_test, y_pred_1))

              precision    recall  f1-score   support

           0       0.98      0.68      0.80     12420
           1       0.08      0.71      0.15       498

    accuracy                           0.68     12918
   macro avg       0.53      0.69      0.47     12918
weighted avg       0.95      0.68      0.78     12918

In [72]:
print(metrics.classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.98      0.75      0.85     12420
           1       0.10      0.69      0.17       498

    accuracy                           0.75     12918
   macro avg       0.54      0.72      0.51     12918
weighted avg       0.95      0.75      0.82     12918

In [73]:
print(metrics.classification_report(y_test, y_pred_3))

              precision    recall  f1-score   support

           0       0.98      0.85      0.91     12420
           1       0.15      0.65      0.24       498

    accuracy                           0.84     12918
   macro avg       0.57      0.75      0.58     12918
weighted avg       0.95      0.84      0.89     12918

In [74]:
print(metrics.classification_report(y_test, y_pred_4))

              precision    recall  f1-score   support

           0       0.98      0.85      0.91     12420
           1       0.14      0.63      0.23       498

    accuracy                           0.84     12918
   macro avg       0.56      0.74      0.57     12918
weighted avg       0.95      0.84      0.89     12918